/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */
body {

}
:root {
    --debug-border: 1px dashed black;
}
.width {
    width: 60%;
}
ul {
    list-style-type: none;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
}


/* !HEADING */
header {
    padding: 10px;
}
header > .goldenrod {
    margin: 0 auto;
    justify-content: space-between;
}
.goldenrod > * {
    padding: 5px;
}
.goldenrod .logo {
    min-width: 100px;
    width: 20%;
}
.goldenrod .navigation {
    min-width: 400px;
    width: 60%;
}
ul.flex {
    justify-content: center;
    gap: 5px;
}
.goldenrod .login {
    min-width: 100px;
    width: 20%;
    text-align: end;
}

/* heading debug */
header {
    background-color: lightblue;
}
.goldenrod > * {
    border: var(--debug-border);
    background-color: goldenrod;
}

/* !MAIN */
section.blue {
    padding: 30px;
    justify-content: center;
    width: 100%;
}
/* section blue debug */
section.blue {
    background-color: navy;
}
div.violet {
    background-color: violet;
    width: 50%;
    min-width: 500px;
    min-height: 200px;
    border:  var(--debug-border);
}
