/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */
:root {
    --debug-border: 1px dashed black;
}
.width {
    width: 60%;
}
ul {
    list-style-type: none;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
}


/* !HEADING */
/* *heading */
header {
    padding: 10px;
}
header > .goldenrod {
    margin: 0 auto;
    justify-content: space-between;
}
.goldenrod > * {
    padding: 5px;
}
.goldenrod .logo {
    min-width: 100px;
    width: 20%;
}
.goldenrod .navigation {
    min-width: 400px;
    width: 60%;
}
ul.flex {
    justify-content: center;
    gap: 5px;
}
.goldenrod .login {
    min-width: 100px;
    width: 20%;
    text-align: end;
}

/* heading debug */
header {
    background-color: lightblue;
}
.goldenrod > * {
    border: var(--debug-border);
    background-color: goldenrod;
}

/* !MAIN */
/* *common */
.bar {
    justify-content: center;
    padding: 30px 0;
}

/* *section blue */

/* section blue debug */
section.blue {
    background-color: navy;
}
div.violet {
    background-color: violet;
    width: 50%;
    min-width: 500px;
    height: 250px;
    border:  var(--debug-border);
}

/* *alternated section */
.reverse {
 flex-direction: row-reverse;
}
/* alternated section debug*/
.box {
    border: var(--debug-border);
    height: 300px;
}

.cadetblue {
    background-color:cadetblue;
    width: 60%;
}
.pink {
    background-color: pink;
    width: 40%;
}

.grey {
    background-color: lightgray;
}
.green {
    background-color: green;
    height: 500px;
}

/* !FOOTER */
footer {
    padding-top: 10px;
}
footer > section{
    margin: 0 auto 20px;
}

/* column section debug */
footer {
    background-color: black;

}

.coral{
    background-color: coral;
    flex-grow: 1;
}
.aquamarine {
    background-color: aquamarine;
    width: calc(100% / 6);
    height: 300px;
    border: 1px dashed white;
    flex-shrink: 0;
}

/* *bottom section */
.border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0 0 0;
}
.banner {
    background-color: aqua;
    height: 2rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
/* bottom section debug */

.rectangle {
    background-color: orange;
    border: var(--debug-border);
    padding: 0 5px;
}