/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */
.flex {
    display: flex;
}
.width {
    width: 60%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.line {
    justify-content: center;
}

/* *common debug */
.dashed {
    border: 1px dashed black;
}
.small {
    height: 250px;
}
.medium {
    height: 350px;
}
.big {
    height: 500px;
}

/* !HEADING */
.skyblue-row {
    padding: 10px 0;
}
.orange > * {
    padding: 5px;
    font-size: .8rem;
}
.logo {
    width: 20%;
}
.navigation {
    width: 60%;
}
.menu {
    justify-content: center;
    gap: 5px;
}
.login {
    width: 20%;
    text-align: end;
}
/* *heading debug */
.skyblue-row {
    background-color: skyblue;
}
.orange {
    background-color: orange;
}


/* !MAIN */
main .line{
    padding: 30px 0;
}
.blue {
    width: 60%;
}
.pink {
    width: 40%;
}
.reverse {
    flex-direction: row-reverse;
}

/* *main debug */
.blue-row {
    background-color: blue;
}
.violet {
    background-color: violet;
    width: 500px;
}
.white-row {
    background-color: white;
}
.blue {
    background-color: dodgerblue;
}
.pink {
    background-color: pink;
}
.grey-row {
    background-color: lightgrey;
    
}
.green {
    background-color: green;
}

/* !FOOTER */
footer > * {
    border-bottom: 1px solid white;
}
footer .top {
    padding: 5px 0 25px;
}
.coral {
    flex-grow: 2;
}
.cadetblue {
    width: calc(100% / 6);
    flex-shrink: 0;
}
footer .bottom {
    padding-top: 15px;
}
.aquamarine {
    justify-content: space-between;
    padding: 10px 0;
}
.fuchsia {
    font-size: .8rem;
    padding: 5px;
}
/* *footer debug */
.black-row {
    background-color: black;
}
.coral {
    background-color: coral;
}
.cadetblue {
    background-color: cadetblue;
    border-color: white;
}
.aquamarine {
    background-color: aquamarine;
}
.fuchsia {
    background-color: salmon;
}